{{#if live}}
<div class="warning banner live">YOU ARE IN LIVE ALERT MODE</div>
{{/if}}
{{#if errors}}
<div class="error">
  {{errors.message}}
  <ul>
    {{#each errors.list}}
    <li>{{this}}</li>
    {{/each}}
  </ul>
</div>
{{/if}}
<div class="alert create {{ alertType }}">
  <h2>Alert Create</h2>
  <form action="{{urlForm}}" method="post">
    <h3><label for="event">Event</label></h3>
    <select id="event" name="event">
      <option selected></option>
      {{#each events}}
      <option value={{id}}{{#if selected}} selected{{/if}}>{{name}}</option>
      {{/each}}
    </select>
    <h3><label for="message">Message</label></h3>
    <textarea id="message" name="message">{{message}}</textarea>
    <fieldset class="methods">
      <h3><legend>Methods</legend></h3>
      <ul>
        {{#each methods}}
        <li><label for="method-{{id}}"></label><input type="checkbox" id="method-{{id}}" name="methods" value="{{id}}"{{#if selected}} checked{{/if}}>{{name}}</li>
        {{/each}}
      </ul>
    </fieldset>
    <fieldset class="locations">
      <h3><legend>Locations</legend></h3>
      <ul>
        {{#each locations}}
          <li><label for="location-{{id}}"></label><input type="checkbox" id="location-{{id}}" name="locations" value="{{id}}{{#if selected}} checked{{/if}}">{{name}}</li>
        {{/each}}
      </ul>
    </fieldset>
    <div class="buttons">
      <button type="submit" name="continue" value="Continue" style="float: right;">Continue</button>
      <button type="submit" name="back" value="Back" style="float: left;">Back to Dashboard</button>
    </div>
  </form>
</div>